    <div style="width: 100vw; position: fixed; bottom: 0; z-index: 100; padding-bottom: 5px;">
      <div style="max-width: 80%; margin: 0 auto; padding: 0 15px; background-color: white; opacity: 0.7;">
        <a href="https://www.aliyun.com/daily-act/ecs/activity_share?userCode=bn5oqrio" target="_blank">阿里云学生限时福利，下单送10元优惠券，一杯奶茶的价格，使用云服务器(2核2G)1个月</a><br>
        <a href="https://free.aliyun.com?userCode=bn5oqrio" target="_blank">阿里云免费试用，立即开启云上实践之旅</a><br>
        <a href="https://www.aliyun.com/daily-act/ecs/activity_selection?userCode=bn5oqrio" target="_blank">阿里云精选特惠，2核2G 3M带宽仅99元/年</a>
      </div>
    </div>

    <script>
      window.$docsify = {
        name: '{{.KeynoteTitle}}',
        basePath: '/{{.KeynoteDir}}',
        homepage: '{{.KeynoteName}}.md',
        el: '#app',
        subMaxLevel: 3,
        hideSidebar: true,
        copyCode: {
          buttonText: {
            '/zh-cn/': '点击复制',
            '/'      : 'Copy'
          },
          errorText: {
            '/zh-cn/': '错误',
            '/'      : 'Error'
          },
          successText: {
            '/zh-cn/': '已复制',
            '/'      : 'Copied'
          }
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/docsify/lib/docsify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-bash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-go.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/docsify-copy-code/dist/docsify-copy-code.min.js"></script>
{{ template "foot.htm" . }}