{{ template "head.htm" . }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsify/themes/vue.css">
  </head>
<body>

  <div style="display: flex; align-items: center; justify-content: center;">
    <a href="https://www.aliyun.com/daily-act/ecs/activity_share?userCode=bn5oqrio" target="_blank">阿里云学生限时福利，下单就送10元优惠券，一杯奶茶的价格，可使用云服务器(t6 2核2G)1个月，你值得拥有！</a><br>
    <a href="https://free.aliyun.com?userCode=bn5oqrio" target="_blank">阿里云免费试用，立即领用云产品，开启云上实践之旅</a><br>
    <a href="https://www.aliyun.com/daily-act/ecs/activity_selection?userCode=bn5oqrio" target="_blank">阿里云服务器精选特惠，2核2G 3M固定带宽流量放心用，新老用户同享仅99元/年</a>
  </div>

