<!doctype html>
<html lang="zh">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.Site.Desc}}">
    <meta name="author" content="{{.Site.Author}}">
    <title>
      {{if .KeynoteTitle}}
        {{.KeynoteTitle}}
      {{else}}
        {{.Site.Title}}
      {{end}}
    </title>
    <link rel="icon" type="image/jpeg" href="{{.Site.Icon}}"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208596842265965"
     crossorigin="anonymous"></script>